@model MarcXMLParser.Models.tbl_Parsed_Data

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_Parsed_Data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.leader, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.leader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.leader, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.controlfield_003, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.controlfield_003, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.controlfield_003, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.controlfield_005, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.controlfield_005, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.controlfield_005, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.controlfield_008, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.controlfield_008, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.controlfield_008, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_020_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_020_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_020_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_022_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_022_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_022_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_035_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_035_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_035_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_040_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_040_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_040_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_040_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_040_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_040_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_040_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_040_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_040_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_040_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_040_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_040_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_040_e, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_040_e, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_040_e, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_041_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_041_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_041_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_041_h, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_041_h, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_041_h, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_044_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_044_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_044_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_080_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_080_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_080_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_100_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_100_4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_100_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_100_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_100_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_100_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_110_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_110_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_110_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_110_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_110_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_110_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_245_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_245_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_245_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_245_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_245_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_245_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_245_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_245_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_245_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_245_n, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_245_n, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_245_n, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_245_p, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_245_p, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_245_p, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_260_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_260_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_260_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_260_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_260_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_260_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_260_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_260_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_260_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_300_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_300_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_300_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_300_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_300_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_300_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_300_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_300_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_300_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_310_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_310_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_310_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_362_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_362_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_362_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_440_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_440_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_440_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_440_v, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_440_v, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_440_v, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_490_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_490_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_490_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_490_v, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_490_v, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_490_v, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_500_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_500_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_500_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_504_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_504_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_504_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_505_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_505_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_505_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_520_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_520_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_520_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_546_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_546_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_546_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_550_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_550_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_550_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_555_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_555_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_555_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_653_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_653_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_653_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_700_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_700_4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_700_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_700_9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_700_9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_700_9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_700_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_700_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_700_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_740_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_740_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_740_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_776_t, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_776_t, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_776_t, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_776_x, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_776_x, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_776_x, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_780_t, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_780_t, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_780_t, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_780_x, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_780_x, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_780_x, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_830_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_830_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_830_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_830_n, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_830_n, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_830_n, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_830_p, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_830_p, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_830_p, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_830_v, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_830_v, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_830_v, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_856_u, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_856_u, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_856_u, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_856_z, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_856_z, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_856_z, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_h, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_h, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_h, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_i, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_i, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_i, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_t, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_t, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_t, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_942_u, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_942_u, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_942_u, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_e, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_e, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_e, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_g, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_g, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_g, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_h, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_h, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_h, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_i, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_i, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_i, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_l, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_l, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_l, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_m, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_m, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_m, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_o, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_o, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_o, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_p, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_p, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_p, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_q, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_q, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_q, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_r, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_r, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_r, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_s, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_s, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_s, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_t, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_t, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_t, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_v, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_v, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_v, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_w, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_w, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_w, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_y, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_y, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_y, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_952_z, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_952_z, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_952_z, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_991_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_991_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_991_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_992_a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_992_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_992_a, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_992_b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_992_b, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_992_b, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_992_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_992_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_992_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_992_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_992_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_992_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_992_e, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_992_e, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_992_e, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_999_c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_999_c, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_999_c, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datafield_999_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datafield_999_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datafield_999_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
